/*------------ GOOGLE FONTS -----------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600;700;800&display=swap');


    /*----------- Variables -----------*/

:root {
    /*------------ Colors ------------*/
    --first-color-dark: #0a0219;
    --first-color-light: #8d35ff;
    --first-more-light: #9340ff;
    --fucsia: #ff3c5f;
    --texto-dark: #686868;
    --texto-light: #c0c0c0;
    --marco: #231D30;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    /* --h1-font-size: 1.5rem; */
    --h2-font-size: 2.5rem;
    --h3-font-size: 2.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .73rem;

    /*----- FONT WEIGHT -------*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
}

/* Custom classes for Bootstrap */
.bg-custom-gray{
    background-color:#c0c0c0;
}
.bg-custom-fucsia{
    background-color:#ff3c5f;
}
.bg-custom-purple{
    background-color:#0a0219;
}
.bg-custom-pl-gray{
    background-color:#231D30;
}
.bg-custom-pl-light{
    background-color:#8d35ff;
}
.bg-custom-trasparent{
    background-color:#0000002c;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:var(--first-color-dark);
    font-family: sans-serif;
}

a{
    text-decoration: none;
}


    /*----------- Navbar -----------*/
.navbar {
    background-color:#0a021900;
    
}
.navbar:hover{
    background-color:#191424c8;
}
/*-------- Hideen ON --------*/
.navbar {  
    transition: top 0.3s; /* suaviza la transición */  
}  
.navbar.hidden {  
    top: -200px; /* oculta el nav al desplazarse hacia abajo */  
} 

/* Menu Hamburguesa */
.navbar-toggler {  
    border-color: transparent; /* Cambia el color del borde si es necesario */  
}   

.navbar-toggler.custom-toggler .navbar-toggler-icon {  
    background-color: #ffff; /* Cambia a tu color deseado */  
}  

.navbar-toggler.custom-toggler {  
    border: none; /* Elimina el borde */  
}  

.navbar .nav-link,.navbar .nav-link.active{
    color:var(--texto-light);
}

.collapse {
    align-items: center;
    
}

.nav-item {
    margin-left: 2.5rem;
    
}
.nav-link{
    font-size: 1rem;
}
.nav-link:hover{
    color: #ffffff;
}

.header-contain{
    margin-bottom:2rem;
}

/*-------------- Hero --------------*/
.row{
    /* padding-bottom: 10rem; */
    /* align-items: center;
    justify-content: center; */
}
.hero{
    height: 100vh;
}
section {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.pre-title{
    /* position: absolute;
    top: 22%;
    left: 22%; */
    color: #FFFFFF;
    font-size: 1.3rem;
    font-weight: 800;
    margin:0;
}

h1{
    /* position: absolute;
    left: 20%;
    top: 27%; */
    width: 257px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 4.8rem;
    /* line-height: 75px; */
    color: #FFFFFF;
    
}

/*-------- HOME SOCIAL --------*/
.home-social{
    /* height:100px; */
    
}

.home-social-icon{
    padding: 0 1rem 0 1rem;
    font-size:2rem;
    color: var(--texto-dark);
    justify-content:space-between;
    
}
.home-social-icon i:hover{
    color: var(--fucsia);
    transition: 0.3s;
}

/*----- BUTTON PORTFOLIO -----*/
.home-button-portfolio-contain{
    /* height: 120px; */
    text-align: center;
    padding: 1rem;
    
}

.button-portfolio{
    align-items: center;
    width: 230px;
    background: #8d35ff;
    border-radius: 24px;
    font-weight: var(--font-semi-bold);
    color:rgba(255, 255, 255, 0.804);
    padding: 10px 20px 10px 20px;
    font-weight: var(--font-semi-bold);
}
.button-portfolio:hover{
    color:#0a0219;
    background-color: #ff3c5f;
}

/*---------- About Me ----------*/
.about-me{
    height: ;
}

.pretitle-aboutMe{
    color: #a872e8;
    font-weight: 600;
    font-size: 1.2rem;
}
.title-aboutMe{
    color:#9a9a9a;
    font-weight:800;
    background-color:;
    width:300px;
    font-size:2.8rem;
    font-family:roboto;
    text-align: center; 
    margin:auto;
}
.about-text h3{
    font-weight:600;
    color:#ff3c5f;
    text-align: left;
}
.about-text p{
    color:#fdf6e2;
    font-weight: 500;
    text-align:center;
    background-color: #191424;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

/*---- Education/Experience ----*/
.education-text h3{
    font-weight:600;
    color:#9a9a9a;
    text-align: left;
}
.title-platzi{
    color:#a872e8;
    font-weight: 600;
}
.title-sololearn{
    color:#a872e8;
    font-weight: 600;
}
.certificate{
    width: 110px;
}
.html-text{
    height: 54px;
    margin-bottom:8px;

}
.certificate-text{
    color:#686868;
}

/*----------- Accordion -----------*/
.accordion-item {  
    background-color: #1c1c30; /* Color de fondo para el acordeón */  
    border: none; /* Quitar los bordes */  
} 
.accordion-button {  
    background-color: #0a0219; /* Color de fondo para el botón */  
    color: #9a9a9a; /* Color del texto */  
    border: 2px solid #5a5a7a;
    font-weight: 600;
}
.accordion-button:not(.collapsed) {  
    background-color: #8d35ff; /* Color del botón cuando está colapsado */  
    color: #ffffff; /* Color del texto */  
}  



/*--------- Skills ---------*/
#skills{
    height: 600px;
}
.levels-text{
    color: #686868;
}
.title-skills{
    color:#9a9a9a;
    font-weight:800;
    background-color:;
    width:300px;
    font-size:2.8rem;
    font-family:roboto;
    text-align: center; 
    margin:auto;
}
.title-programacion-skills{
    color:#9a9a9a;
    font-weight: 600;
    font-size: calc(1.3rem + .6vw);
}

/*---------- Other Skills ----------*/
.title-other-skills{
    color:#9a9a9a;
    font-weight: 600;
    font-size: calc(1.3rem + .6vw);
}
/*--------- Lenguage Icons ---------*/
.lenguage-icons-contain{
    
}

/*--------- Portfolio ---------*/
.title-portfolio {
    font-size: var(--h2-font-size);
    font-weight: 800;
    font-family: roboto;
    color:#9a9a9a;
}
.card{
    background-color: #231D30;
}
.card-body h5{
    color: #9a9a9a;
    font-weight: 600;
}
.card-body p{
    color: #9a9a9a;
}
.card-body .btn{
    background-color: #a872e8;
    border: none;
}
.container-proyectes{
    padding-top: 60px;
    margin-bottom: 40px;
}

/*----------- Footer -----------*/
.footer{
    height: 200px;
    width: 100%;
    background-color:#220e3c;
}




/*---------- @Media ----------*/
/* Para pantallas pequeñas y menores */  
@media (min-width: 576px) {  
    .lenguage-icons-contain .row {  
        flex-wrap: nowrap; /* No permitir que los iconos se envuelvan */  
        justify-content: center; /* Centrar los iconos */  
    }
    
      
}  

/* Para pantallas extra pequeñas (si necesita ser específico) */  
@media (max-width: 575.98px) {
    
    

    .lenguage-icons-contain .row {  
        flex-wrap: wrap; /* Permitir que se envuelvan en pantallas muy pequeñas */  
        justify-content: center; /* Alinear el contenido */  
    }
    .skills-contain{
        flex-direction: column;
    }
    .skills-levels{
        margin-bottom: 3rem;
    }
    .contain-other-skills{
        margin-bottom: 2rem;
    }  

    /*------- Accordion -------*/
    .accordion-body .content-accordion{
        flex-direction: column;
    }
    .first-content-acc{
        padding-bottom: 1.5rem;
    }

    /*-------- Portfolio --------*/
    .contain-card {
        flex-direction: column;
    }
}

@media (max-width: 768px) {  
    /* Logo Code */
    .code-hero img{
        width: 350px;
    }

    .education-text .d-flex {  
        flex-direction: column; /* Cambia la dirección del flex a columna */  
        align-items: center; /* Centra horizontalmente los certificados */  
    }  

    .education-text .d-flex > div {  
        margin-bottom: 10px; /* Espacio reducido entre certificados */  
        width: 90%; /* Ancho del contenedor de cada certificado */  
        display: flex;   
        flex-direction: column;  
        align-items: center; /* Centra los elementos dentro del div */  
        text-align: center; /* Alínea el texto al centro */  
        padding-left: 15px; /* Ajusta el padding izquierdo si hay pe-3 */  
        padding-right: 15px; /* Ajusta el padding derecho si hay ps-3 */  
    }   
    
    .education-text .d-flex img {  
        width: 100%; /* Las imágenes ocuparán el 100% del contenedor */  
        height: auto; /* Mantiene la proporción de la imagen */  
    }  

    .certificate-text {  
        font-size: 14px; /* Reduce el tamaño de la fuente para la descripción */  
    }  

    .title-platzi, .title-sololearn {  
        font-size: 16px; /* Reduce el tamaño de la fuente para los títulos */  
    }  

    /*-------- Portfolio --------*/
    .contain-card {
        flex-direction: column;
    }
}  