/*------------ GOOGLE FONTS -----------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600;700;800&display=swap');


    /*----------- Variables -----------*/

:root {
    /*------------ Colors ------------*/
    --first-color-dark: #0a0219;
    --first-color-light: #8d35ff;
    --first-more-light: #9340ff;
    --fucsia: #ff3c5f;
    --texto-dark: #686868;
    --texto-light: #c0c0c0;
    --marco: #231D30;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .73rem;

    /*----- FONT WEIGHT -------*/
    --font-medium: 500;
    --font-semi-bold: 600;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:var(--first-color-dark);
    font-family: sans-serif;
}


    /*----------- Navbar -----------*/
.navbar {
    padding: 1.5rem;
    
}
.navbar .nav-link,.navbar .nav-link.active{
    color:var(--texto-light);
}

.collapse {
    align-items: center;
    
}

.nav-item {
    margin-left: 2.5rem;
    
}
.nav-link{
    font-size: 1rem;
}
.nav-link:hover{
    color: #ffffff;
}

.header-contain{
    margin-bottom:2rem;
}

/*-------------- Title and Hero --------------*/
section {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.pre-title{
    /* position: absolute;
    top: 22%;
    left: 22%; */
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 800;
    margin:0;
}



h1{
    /* position: absolute;
    left: 20%;
    top: 27%; */
    width: 257px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 4.2rem;
    /* line-height: 75px; */
    color: #FFFFFF;
    
}

/*----- HOME SOCIAL(linkedin,github,gmail) -----*/
.home-social{
    
    
}

.home-social-icon{
    padding: 0 1rem 0 1rem;
    font-size:2rem;
    color: var(--texto-dark);
    justify-content:space-between;
    
}
.home-social-icon i:hover{
    color: var(--fucsia);
    transition: 0.3s;
}

/*----- BUTTON PORTFOLIO -----*/
.home-button-portfolio-contain{
    
    text-align: center;
    padding: 1rem;
    
}

.button-portfolio{
    align-items: center;
    width: 230px;
    background: #9340FF;
    border-radius: 24px;
    font-weight: var(--font-semi-bold);
    color: rgba(255, 255, 255, 0.804);
    padding: 10px 20px 10px 20px;
    font-weight: var(--font-semi-bold);
}

a{
    text-decoration: none;
}
